@font-face {
    font-family: 'FinCubes';
    src: url('https://cdn.fincubes.ru/fonts/fincubesfont.woff2') format('woff2'),
        url('https://cdn.fincubes.com/fonts/fincubesfont.woff') format('woff'),
        url('https://cdn.fincubes.com/fonts/fincubesfont.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+1F93F, U+1F30A, U+1F45F, U+1FAE7;
}